<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta
      http-equiv="X-UA-Compatible"
      content="ie=edge"
    />
    <title>Todo List</title>
  </head>
  <body>
    <h1>Login</h1>
    <form
      method="POST"
      action="/login"
    >
      Username
      <input
        title="username"
        type="text"
        name="username"
        placeholder="username"
      />
      Password
      <input
        title="password"
        type="text"
        name="password"
        placeholder="password"
      />
      <input type="submit" />
    </form>

    <a href="/register">Register</a>
  </body>
</html>
